%button-style {
  color: $white;
  background-color: $link-color;
  padding: 10px 15px;
  text-align: center;
  border-radius: 4px;
  &:hover {
    background-color: rgba($link-color, 0.8);
  }
}
.container {
  padding-left: 4%;
  padding-right: 4%;

  @media (min-width: $tablet-width) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @media (min-width: $desktop-width) {
    padding-left: 7%;
    padding-right: 7%;
  }
}