$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1320px;

$title-color: #192252;
$title-color-second: #000000;
$link-color: #0E1734;
$white: #ffffff;
$text-color: #848FAC;
$text-color-second: #424F7B;
$text-color-third: #D9DBDE;
$footer-bg-color: #0B265A;
$switch-color: #FAB047;
$circle: #FFECE2;
$circle-second: #FF620A;