.contacts {
  padding-top: 5%;
  padding-bottom: 5%;
}

.contacts__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: $text-color-second;
}

.contacts__title {
  color: $title-color;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  margin-top: 10px;
  margin-bottom: 15px;
}

.contacts__p {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: $text-color;
  margin-bottom: 15px;
}

.contacts__block-inner {
  display: flex;
  justify-content: space-between;
}

.contacts__link {
  @extend %button-style;
}

.contacts__link-second {
  color: $title-color-second;
  text-align: center;
  padding: 10px 15px;
  border-radius: 4px;

  &:hover {
    background-color: rgba($link-color, 0.3);
  }
}

.contacts__list {
  padding-top: 45px;
  padding-bottom: 45px;
}

.contacts__p-list {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: $text-color;
  margin-top: 24px;
}

.contacts__d {
  padding: 20px 25px;
  box-shadow: 0 0 18px $text-color-third;
  margin-top: 25px;
  position: relative;
}

summary {
  list-style: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: $text-color-second;
}

summary::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $circle;
  position: absolute;
  right: 20px;
  top: 15px;
}

summary::before {
  content: url(/image/arrow-down.svg);
  width: 14px;
  height: 8px;
  position: absolute;
  z-index: 1;
  right: 30px;
  top: 20px;
}

.contacts__d[open] summary::after {
  background-color: $circle-second;
}

.contacts__d[open] summary::before {
  content: url(/image/arrow-up.svg);
  top: 18px;
}

@media (min-width: $tablet-width) {
  .contacts {
    display: flex;
    align-items: center;
    gap: 3%;
  }

  .contacts__block-inner {
    justify-content: start;
  }

  .contacts__block {
    flex: 47%;
  }

  .contacts__list {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    justify-content: space-between;
    padding-top: 7%;
    padding-bottom: 7%;
  }

  .contacts__block-inner {
    gap: 15px;
  }

  .contacts__link {
    width: 146px;
  }

  .contacts__d {
    padding: 32px 36px;
  }

  .contacts__subtitle {
    font-size: 16px;
  }

  .contacts__p {
    font-size: 18px;
    padding-right: 15%;
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .contacts__p-list {
    font-size: 18px;
    line-height: 150%;
  }

  .contacts__title {
    font-size: 36px;
  }

  .contacts__block {
    flex: none;
    width: 588px;
  }

  .contacts__block:first-child {
    width: 420px;
  }

  summary {
    font-size: 22px;
  }

  summary::after {
    width: 40px;
    height: 40px;
    top: 25px;
  }

  summary::before {
    right: 35px;
    top: 28px;
  }

  .contacts__d[open] summary::before {
    top: 25px;
  }
}