.description-second {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
}

.description-second__img {
  width: 100%;
  margin-bottom: 28px;
}

.description-second__title {
  margin-top: 20px;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  color: $title-color;
}

.description-second__p {
  color: $text-color;
  font-size: 15px;
  font-weight: normal;
  line-height: 150%;
  text-align: center;
  padding: 2% 3%;
}

.description-second__link {
  @extend %button-style;
  margin-bottom: 20px;
  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .description-second {
    flex-direction: row;
    align-items: center;
    column-gap: 5%;
  }

  .description-second__img {
    width: 40%;
    margin-bottom: 0;
  }

  .description-second__title {
    text-align: left;
  }

  .description-second__p {
    text-align: left;
    padding-left: 0;
  }

  .description-second__link {
    width: 151px;
  }
}

@media (min-width: $desktop-width) {
  .description-second {
    column-gap: 10%;
  }

  .description-second__img {
    width: 60%;
  }

  .description-second__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
  }

  .description-second__p {
    padding-right: 15%;
    font-size: 18px;
  }
}