.footer {
  padding-top: 10%;
  padding-bottom: 5%;
  background-color: $footer-bg-color;
}

.footer__inner-block {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer__block:first-child {
  text-align: center;
  margin-bottom: 25px;
}

.footer__title {
  margin-bottom: 15px;
}

.footer__list {
  text-align: center;
}

.footer__button {
  text-align: center;
  width: 100%;
}

.footer__title,
.footer__button {
  color: $white;
}

.footer__link,
.footer__p {
  color: $text-color-third;
  font-size: 14px;
  font-weight: normal;
  line-height: 28px;
}

.footer__link:hover {
  color: $white;
  text-decoration: underline;
}

.footer__svg path:hover {
  fill: $circle-second;
}

.footer__link:nth-child(2) {
  margin-right: 9px;
}

.footer__item {
  margin-bottom: 24px;
}

.footer__button {
  margin-bottom: 24px;
  cursor: pointer;
}

.footer__button {
  background: none;
  font-family: Inter, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
}

@media (min-width:$tablet-width) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer__list,
  .footer__button {
    text-align: left;
  }

  .footer__block:first-child {
    text-align: left;
  }

  .footer__item {
    margin-bottom: 15px;
  }

  .footer__svg {
    width: 25px;

    &--facebook {
      width: 13px;
    }
  }

  .footer__link:nth-child(2) {
    margin-right: 0;
  }

  .footer__inner-block {
    justify-content: start;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding-top: 120px;
    padding-bottom: 80px;
  }

  .footer__block:first-child {
    margin-right: 350px;
  }

  .footer__title {
    font-style: normal;
    font-size: 32px;
    line-height: 39px;
  }

  .footer__link,
  .footer__p {
    font-size: 16px;
    line-height: 28px;
  }

  .footer__svg {
    width: 32px;

    &--facebook {
      width: 16px;
    }
  }
}