.header {
  width: 100%;
  padding: 4%;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.header__logo {
	font-family: 'Montserrat', Arial, sans-serif;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: $title-color;
}

.header__list {
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 12px;
}

.header__link {
  color: $title-color;
  &:hover {
    color: rgba($title-color, 0.7);
  }
}

.header__link-button {
  color: $white;
  background-color: $link-color;
  padding: 10px 15px;
  text-align: center;
  width: 120px;
  border-radius: 4px;
  &:hover {
    background-color: rgba($link-color, 0.8);
  }
}

@media (min-width: $tablet-width) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding: 3% 8%;
  }

  .header__list {
    column-gap: 32px;
  }
}
